
.exposicao{
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exposicao__item{
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.16);
}

.exposicao__item__project{
    padding: 24px;
    border-radius: 8px;
}

.exposicao__item__project.a{
    background-color: rgb(79, 161, 255);
}

.exposicao__item__project.b{
    background-color: rgb(79, 255, 79);
}

.exposicao__item__project.c{
    background-color: rgb(255, 208, 79);
}

.exposicao__item__project.d{
    background-color: rgb(240, 79, 255);
}

.exposicao__item__project__content{
    height: 240px;
    padding: 12px;
    background-color: black;
    border-radius: 8px;
}

.exposicao__item__dados{
    padding: 24px;
}

.exposicao__item__dados__descricao-projeto{
    opacity: 80%;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 14px;
}

.exposicao__item__dados__container{
    display: flex;
    justify-content: space-between;
}

.exposicao__item__dados__container img{
    margin: 0 5px;
}

.exposicao__item__dados__container__trend{
    display: flex;
    align-items: center;
}

.exposicao__item__dados__container__trend p{
    margin-right: 10px;
}

.exposicao__item__dados__container__developer{
    display: flex;
    align-items: center;    
}

.exposicao__item__dados__container__developer img{
    height: 25px;
}