
.exposicao{
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exposicao__item{
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
}

.exposicao__item__interior{
    padding-top: 10px;
}

.exposicao__item__project{
    padding: 24px;
    border-radius: 8px;
}

.exposicao__item__project__content{
    height: 240px;
    padding: 12px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.exposicao__item__dados{
    padding: 24px;
    flex-grow: 1;
}

.exposicao__item__dados__descricao-projeto{
    opacity: 80%;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 14px;
}

.exposicao__item__container{
    display: flex;
    justify-content: space-between;
    padding: 0 24px 24px 24px;
}

.exposicao__item__container img{
    margin: 0 5px;
}

.exposicao__item__container__trend{
    display: flex;
    align-items: center;
}

.exposicao__item__container__trend p{
    margin-right: 10px;
}

.exposicao__item__container__tag{
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
}

.exposicao__item__container__tag.html{
    background-color: orangered;
    color: white;
    text-transform: uppercase;
}

.exposicao__item__container__tag.css{
    background-color: blue;
    color: white;
    text-transform: uppercase;
}

.exposicao__item__container__tag.javascript{
    background-color: yellow;
    text-transform: capitalize;
}

.exposicao__item__container__developer{
    display: flex;
    align-items: center;    
}

.exposicao__item__container__developer img{
    height: 25px;
}