@media screen and (min-width:0){

    body, .cabecalho{
        grid-template-columns: 150px calc(100% - 270px) 100px;
        grid-gap: 10px;
        margin: 27px 16px;
    }

    .cabecalho{
        margin-bottom: 5px;
    }

    .cabecalho__input-search{
        display: none;
    }

    .cabecalho__profile{
        display: none;
    }

    .cabecalho__buttons__hidden-menu{
        right: -316px;
    }

    .container{
        flex-direction: column;
    }

    .navegacao{
        display: none;
    }

    .sessao-principal{
        width: 100%;
        grid-column: 1/4;
        grid-row: 2/3;
        margin: 30px 0px;
    }

    .menu-configuracao{
        width: 100%;
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .menu-configuracao__input .color-input{
        width: calc(100% - 12px);
    }

}

@media screen and (min-width:700px){
    
    body, .cabecalho{
        grid-template-columns: 150px calc(100% - 280px) 50px;
        grid-gap: 40px;
        margin: 32px;
    }

    .cabecalho{
        margin-bottom: 5px;
    }
    
    .cabecalho__input-search{
        display: initial;
    }

    .cabecalho__buttons__search{
        display: none;
    }

    .cabecalho__buttons__menu{
        margin-left: 14px;
    }

    .cabecalho__buttons__hidden-menu{
        right: -300px;
    }

    .cabecalho__buttons__hidden-search-input{
        width: calc(100vw - 64px);
        padding: 32px 32px 5px 32px;
    }

    .sessao-principal{
        margin: 0;
    }

    .menu-configuracao__input.personalizacao{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-configuracao__input .select-area{
        width: calc(50% - 8px);
    }

    .menu-configuracao__input .color-input{
        width: calc(50% - 12px - 8px );
    }
}

@media screen and (min-width:992px){

    body, .cabecalho{
        grid-template-columns: 210px calc(80% - 290px) calc(20%);
    }

    .header-container{
        position: inherit;
        grid-column: 1/4;
        grid-row: 1/1;
    }

    .cabecalho{
        margin: 0px;
    }

    .cabecalho__profile{
        display: flex;
    }

    .cabecalho__buttons{
        display: none;
    }

    .navegacao{
        display: initial;
        grid-column: 1/1;
        grid-row: 2/3;
    }

    .container{
        flex-direction: row;
    }

    .sessao-principal{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .menu-configuracao{
        grid-column: 3/3;
        grid-row: 2/3;
    }

    .menu-configuracao__input.personalizacao{
        flex-direction: column;
    }

    .menu-configuracao__input .select-area{
        width: calc(100% );
    }

    .menu-configuracao__input .color-input{
        width: calc(100% - 12px);
    }

}
