@media screen and (min-width:0){
    body{
        margin: 27px 16px;
    }

    .cabecalho__input-search{
        display: none;
    }

    .cabecalho__buttons{
        justify-content: flex-end;
        margin-right: 14px;
    }

    .cabecalho__buttons__menu{
        margin-left: 34px;
    }

    .cabecalho__profile{
        display: none;
    }

    .container{
        flex-direction: column;
    }

    .navegacao{
        display: none;
    }

    .sessao-principal{
        width: 100%;
    }

    .menu-configuracao{
        width: 100%;
    }

    .menu-configuracao__input .color-input{
        width: calc(100% - 12px);
    }

}

@media screen and (min-width:768px){
    body{
        margin: 32px;
    }

    .cabecalho__input-search{
        display: initial;
    }

    .cabecalho__buttons__search{
        display: none;
    }

    .cabecalho__buttons__menu{
        margin-left: 14px;
    }

    .menu-configuracao__input.personalizacao{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-configuracao__input .select-area{
        width: calc(50% - 8px);
    }

    .menu-configuracao__input .color-input{
        width: calc(50% - 12px - 8px );
    }
}

@media screen and (min-width:992px){

    .cabecalho__profile{
        display: flex;
    }

    .cabecalho__buttons{
        display: none;
    }

    .navegacao{
        display: initial;
    }

    .container{
        flex-direction: row;
    }

    .menu-configuracao__input.personalizacao{
        flex-direction: column;
    }

    .menu-configuracao__input .select-area{
        width: calc(100% );
    }

    .menu-configuracao__input .color-input{
        width: calc(100% - 12px);
    }

}
