body{
    background-color: #051D3B;
    font-family: 'Work Sans', sans-serif;
    color: white;
    display: grid;
    grid-template-rows: 56px auto auto;
    grid-gap: 40px;
}

h1{
    font-size: 16px;
}

h2{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.4em;
    margin-bottom: 16px;
    line-height: 18px;
}

h3{
    font-size: 16px;
}

::placeholder, .select-area{ /* Chrome */
    color: rgb(255, 255, 255, 0.64);

}

:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: #FFFFFF;
    opacity: 0.64;

}

:-moz-placeholder{  /* Firefox 18- */
    color: #FFFFFF;
    opacity: 0.64;

}

::-moz-placeholder{ /* Firefox 19+ */
    color: #FFFFFF;
    opacity: 0.64;

}

.input{
    padding: 0 14px;
}

.area-input{
    padding: 14px;
}

.input, .area-input {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: rgb(255, 255, 255, 0.64);
    height: 56px;
    font-size: 16px;
}

select option{
    color: black;
}

.cabecalho__logo{
    grid-column: 1/1;
    grid-row: 1/1;
    align-self: center;

}   

.cabecalho__input-search{
    grid-column: 2/3;
    grid-row: 1/1;
    align-self: center;
}

.cabecalho__buttons{
    grid-column: 3/3;
    grid-row: 1/1;
    justify-self: end;
    margin-right: 14px;
    align-self: center;
}

.cabecalho__buttons__menu{
    margin-left: 34px;
}

.cabecalho__profile{
    grid-column: 3/3;
    grid-row: 1/1;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.cabecalho__profile img{
    margin: 8px;
}

.container{
    display: flex;
}

.navegacao__item{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.navegacao__icon{
    margin-right: 16px;
}

.sessao-principal{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sessao-principal__container{
    background-color: #6BD1FF;
    padding: 32px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.sessao-principal__container__campo{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 8px;
}

.sessao-principal__container__campo img{
    width: 52px;
    margin-bottom: 24px;
    margin: 16px 0 8px 16px;
}

.sessao-principal__container__campo__code{
    color: white;
    height: 230px;
    line-height: 18px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
}

.sessao-principal__highlight-input{
    background: rgba(80, 129, 251, 0.08);
    color: #ffffff;
}

.menu-configuracao{
    display: flex;
    flex-direction: column;
}

.menu-configuracao__input, .menu-configuracao__input .select-area{
    margin-bottom: 16px;
}

.menu-configuracao__input.area-input{
    height: 80px;
    margin-bottom: 40px;
}

.menu-configuracao__input.personalizacao{
    display: flex;
    flex-direction: column;
}

.menu-configuracao__input .color-input{
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    height: calc(56px - 12px);
    margin-bottom: 32px;
}

.menu-configuracao__input.save-input{
    background-color: #5081FB;
    color: black;
    font-size: 16px;
}

